<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="{{ photoCover }}"
    alt=""
    height="200px"
    >
  </div>

  <a href=""></a>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus doloremque et ullam distinctio! Similique ut esse magnam consequuntur assumenda maxime quaerat fuga dolor, laudantium sed voluptatibus inventore molestiae voluptate cum.</p>
  </div>
</div>

