.container__menu-title {
  color: white;

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
  }

}
